{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>登陆</title>
    <link href="{% static "user/css/login.css" %}" rel="stylesheet" type="text/css"/>
</head>

<body>
{% block content %}
<div class="login_box">
    <div class="login_l_img"><img src="{% static "user/images/login-img.png" %}"/></div>
    <div class="login">
        <div class="login_logo"><a href="#"><img src="{% static "user/images/login_logo.png" %}"/></a></div>
        <div class="login_name">
            <p>登陆界面</p>
        </div>
{#        <form method="post">#}
{#            <input name="username" type="text" value="用户名" onfocus="this.value=''"#}
{#                   onblur="if(this.value==''){this.value='用户名'}">#}
{#            <span id="password_text"#}
{#                  onclick="this.style.display='none';document.getElementById('password').style.display='block';document.getElementById('password').focus().select();">密码</span>#}
{#            <input name="password" type="password" id="password" style="display:none;"#}
{#                   onblur="if(this.value==''){document.getElementById('password_text').style.display='block';this.style.display='none'};"/>#}
{#            <input value="登录" style="width:100%;" type="submit">#}
{#        </form>#}
                <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="button-wrapper submit">
                <input type="submit" style="width:100%;" value="Login"/>
            </div>
        </form>
    <div>
        <a href="/account/register" style="text-align: center;">Register</a>
    </div>
    </div>
    <div class="copyright">Rhinestone Eyes</div>
</div>
<div style="text-align:center;">
</div>
{% endblock %}
</body>
</html>
