{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Classes</title>
    <!---css--->
    <link href="{% static "main/css/bootstrap.css" %}" rel='stylesheet' type='text/css'/>
    <link href="{% static "main/css/style.css" %}" rel='stylesheet' type='text/css'/>
    <!---css--->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!---js--->
    <script src="{% static "main/js/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "main/js/bootstrap.js" %}"></script>
    <!---js--->
    <!--web-fonts-->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic'
          rel='stylesheet' type='text/css'>
    <!--//web-fonts-->
    <!--JS for animate-->
    <link href="{% static "main/css/animate.css" %}" rel="stylesheet" type="text/css" media="all">
    <script src="{% static "main/js/wow.min.js" %}"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->

</head>
<body>
<!---header--->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header wow fadeInLeft animated animated" data-wow-delay="0.4s">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" href="/main/index">Rhinestone Eyes</a>
            </h1>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right wow fadeInRight animated animated" data-wow-delay="0.4s">
                <li class="active"><a class="nav-in" href="/main/index"><span data-letters="Home">Home</span></a></li>
                <li><a class="nav-in" href="/main/about/"><span data-letters="About">About us</span></a></li>
                <li><a class="nav-in" href="/main/class/"><span data-letters="Technique">Technique</span></a></li>
                <li><a class="nav-in" href="/main/trainers"><span data-letters="Trainers">Draw</span></a></li>
                <li><a class="nav-in" href="/main/codes"><span data-letters="Codes">Show</span></a></li>
                <li><a class="nav-in" href="/main/contact"><span data-letters="Contact">Contact</span></a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<!---banner--->
<div class="banner wow fadeInDownBig animated animated" data-wow-delay="0.4s">
    <div class="container">
        <h2>Technique</h2>
    </div>
</div>
<!---banner--->

<!---class--->
<div class="class">
    <div class="container">
        <div class="class-grids w3l">
            <div class="col-md-8 class-grid wow fadeInLeft animated animated" data-wow-delay="0.4s">
                <div class="class-top">

                    <div class="col-md-6 class-left">
                        <img src="{% static "main/images/c1.jpg" %}" class="img-responsive" alt=""/>
                        <div class="class-text  hvr-bounce-to-bottom">
                            
                            <h4>系统实现与设计 </h4>
                            <p>我们计划建立一个满足re-ID需求的计算平台。为了满足我们的平台需要，我们使用Django + MySql作为技术栈，并在ECS服务器上进行部署，用户可以通过互联网进行访问。基于静态图片高精度检索，我们将尝试多种detector与recogonizer的解决方案。届时，我们的平台将支持视频的上传与处理等完整功能，行人图片的识别等完整功能。 </p>
                        </div>
                    </div>
                    <div class="col-md-6 class-right">
                        <img src="{% static "main/images/c2.jpg" %}" class="img-responsive" alt=""/>
                        <div class="class-text hvr-bounce-to-bottom">
                            <h4>研究背景 </h4>
                            <p>Person Re-ID 全称是Person Re-Identification, 又称为行人重识别，是当今业界继人脸识别之后新的风口，近年来CVPR、ICCV等计算机视觉顶会中关于re-id方向的论文数目逐年上升，在传统基于hand-crafted和小规模evaluation的研究方法逐渐落伍的情况下，近年来，large-scale datasets和deep learing 系统逐渐兴起，机器学习与人工智能成为有望成为解决re-id问题的良药。我们在不同的深度学习框架（如：tensorflow ,  Caffe, pytorch）上训练不同结构的神经网络(如：resnet50, YOLO, faster-rcnn)，构建行人再识别系统。</p>  
                           
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="class-top top2 w3l-agile">
                    <div class="col-md-6 class-left">
                        <img src="{% static "main/images/c1.jpg" %}" class="img-responsive" alt=""/>
                        <div class="class-text hvr-bounce-to-bottom">
                            <h4>应用研究 </h4>
                            <p>我们注意到当前行人再识别技术多用于疑犯追踪等场景。我们小组另辟蹊径，将行人再识别与大数据分析结合。将行人再识别技术用于分析行人行为，诸如：行人轨迹，行人在某处的停留时间。并据此进行大数据分析，根据客户需求对其服务项目进行优化。
我们的系统提供一张地图，用户将其场所内摄像头的位置，道路标注于地图上。系统读取各个摄像头的内容，同时进行行人再识别分析，得出行人在每个景点的停留时间与路线图。使用数据挖掘中的关联分析与异常检测等算法，优化用户场所中道路，景点的设置。并为行人游览提供建议、即使发现异常情况
.</p>
                            
                        </div>
                    </div>
                    <div class="col-md-6 class-right">
                        <img src="{% static "main/images/c2.jpg" %}" class="img-responsive" alt=""/>
                        <div class="class-text hvr-bounce-to-bottom">
                            <h4>模型研究 </h4>
                            <p>我们小组首先从传统hand-crafted Systems开始研究，	如针对颜色特征与纹理特征的提取，如LOMO,SCNCD等等。除了直接使用low-level colorand texture features，另外一种好的选择就是使用attribute-based features，这个可以看作是一种mid-level representations。简单的来说就是使用低层color和texture特征训练attribute分类器，然后提取mid-level feature，并使用马氏距离进行巨酸。
接下来我们小组分析了不同的应用场景，以及当前学术界的研究方向，决定建立两种模型，将行人检测与行人检索逐步进行，以及使用一个模型直接进行行人检测和行人检索。
	最终，我们小组将目光放在了使用神经网络进行特征提取的方法。残差网络能够使神经网络的深度大幅增加，同时还可以保持良好的泛化能力，利用优化的Convolution Layer能够更好的反应行人的特征。而事实上，近年来CVPR上关于re-id领域的论文，明显偏向于利用机器学习相关理论与大数据集进行研究。因此，我们决定使用res-50进行基础框架，在此基础上进行参数的调整与模型的改进。
</p>
                           
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
          
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!---class--->

<!--copy-->
<div class="copy-section wow fadeInDownBig animated animated" data-wow-delay="0.4s">
    <div class="container">
        <div class="social-icons">
            <a href="#"><i class="icon"></i></a>
            <a href="#"><i class="icon1"></i></a>
            <a href="#"><i class="icon2"></i></a>
            <a href="#"><i class="icon3"></i></a>
        </div>
        
    </div>
</div>
<!--copy-->
</body>
</html>