{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Draw</title>
    <!---css--->
    <link href="{% static "main/css/bootstrap.css" %}" rel='stylesheet' type='text/css'/>
    <link href="{% static "main/css/style.css" %}" rel='stylesheet' type='text/css'/>
    <!---css--->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>

    {# js #}

    <style>
        .wrapper {
            position: relative;
            width: 940px;
            height: 800px;
            margin: auto;
        }

        .heatmap {
            position: relative;
            width: 940px;
            height: 700px;
        }


        .demo-wrapper {
            position: relative;
            width: 940px;
            height: 600px;
            background: rgba(0, 0, 0, .03);
            border: 3px solid black;
        }

        .timeline-wrapper {
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            height: 30px;
            background: #fff;
            transition: 1s ease all;
            border-radius: 4px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, .65)
        }

        .heatmap-timeline {
            position: absolute;
            top: 0;
            right: 15px;
            left: 80px;
            height: 100%
        }

        .heatmap-timeline .line {
            position: absolute;
            left: 0;
            right: 0;
            top: 15px;
            height: 2px;
            background: #d7d7d7
        }

        .heatmap-timeline .time-point.active {
            background: #000
        }

        .heatmap-timeline .time-point {
            position: absolute;
            background: #fff;
            border: 2px solid #272727;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            cursor: pointer;
            top: 15px;
            transform: translateX(-50%) translateY(-50%)
        }

        .heatmap-timeline .time-point:hover {
            box-shadow: 0 0 5px black
        }

        .timeline-wrapper button {
            position: absolute;
            outline: none;
            color: #000;
            background: #f2f2f2;
            width: 65px;
            height: 100%;
            cursor: pointer;
            border: none;
            text-transform: uppercase;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px
        }

        .heatmap-timeline .time-point.active {
            background: #000
        }
    </style>
    <script src="{% static "main/js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "main/js/heatmap.min.js" %}"></script>
    {#    <script src="{% static "main/js/extract.js" %}"></script>#}
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>

    <!---js--->
    <script src="{% static "main/js/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "main/js/bootstrap.js" %}"></script>
    <!---js--->
    <!--web-fonts-->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic'
          rel='stylesheet' type='text/css'>
    <!--//web-fonts-->
    <link href="{% static "main/css/galleryeffect.css" %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static "main/css/style.css" %}" rel="stylesheet" type="text/css" media="all"/>
    <!--JS for animate-->
    <link href="{% static "main/css/animate.css" %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static "main/css/Heatmap Animation Example_files/commons.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "main/css/Heatmap Animation Example_files/example-commons.css" %}" rel="stylesheet"
          type="text/css">
    <link href="{% static "main/css/Heatmap Animation Example_files/prism.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "main/js/wow.min.js" %}"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->


</head>
<body>
<!---header--->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header wow fadeInLeft animated animated" data-wow-delay="0.4s">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" href="/main/index">Rhinestone Eyes</a></h1>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right wow fadeInRight animated animated" data-wow-delay="0.4s">
                <li class="active"><a class="nav-in" href="/main/index"><span data-letters="Home">Home</span></a></li>
                <li><a class="nav-in" href="/main/about/"><span data-letters="About us">About us</span></a></li>
                <li><a class="nav-in" href="/main/class/"><span data-letters="Technique">Technique</span></a></li>
                <li><a class="nav-in" href="/main/trainers"><span data-letters="Draw">Draw</span></a></li>
                <li><a class="nav-in" href="/main/codes"><span data-letters="Show">Show</span></a></li>
                <li><a class="nav-in" href="/main/contact"><span data-letters="Contact">Contact</span></a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<!---banner--->
<div class="banner wow fadeInDownBig animated animated" data-wow-delay="0.4s">
    <div class="container">
        <h2>Trainers</h2>
    </div>
</div>

<div class="wrapper">
    <h2>Demo</h2>
    <div class="demo-wrapper">

        <div class="heatmap" style="position: relative;">
            {#            <canvas class="heatmap-canvas" width="934" height="593"#}
            {#                    style="position: relative; left: 0px; top: 0px;"></canvas>#}
        </div>
        <div class="timeline-wrapper">
            <button>play</button>
            <div class="heatmap-timeline">
            </div>
        </div>
    </div>
    <div class="demo-controls">
        <button class="trigger-refresh btn" data-fps="60">Set speed to 60 frames per second</button>
        <button class="trigger-refresh btn" data-fps="30">Set speed to 30 frames per second</button>
        <button class="trigger-refresh btn" data-fps="10">Set speed to 10 frames per second</button>
        <button class="trigger-refresh btn" data-fps="5">Set speed to 5 frames per second</button>
        <button class="trigger-refresh btn" data-fps="1">Set speed to 1 frame per second</button>
        <br style="clear:both">
    </div>
    <div class="information">
        <p id="frame">0</p>
    </div>
</div>
<!--copy-->
<div class="copy-section wow fadeInDownBig animated animated" data-wow-delay="0.4s">
    <div class="container">
        <div class="social-icons">
            <a href="#"><i class="icon"></i></a>
            <a href="#"><i class="icon1"></i></a>
            <a href="#"><i class="icon2"></i></a>
            <a href="#"><i class="icon3"></i></a>
        </div>
    </div>
</div>
<!--copy-->
<script>
    var packJson = {
        name: 'Larry',
        password: '123'
    }
    var arrayJson = [{
        name: 'Liza',
        password: '123'
    },
        {
            name: 'Mike',
            password: '456'
        }
    ];

    // for ( var i in arrayJson ) {
    //     alert( arrayJson[i].name)
    // }
    // $.getJSON( './test.json', function ( data ) {
    //     alert( data )
    // } )
    // var Ajax = function () {
    //   $.getJSON('test.json', function (data) {
    //     $.each(data, function (i, item) {
    //       $('#disp').append('<h3>' + item.name + '</h3>')
    //       $('#disp').append('<p>' + item.sex + '</p>')
    //       $('#disp').append('<p>' + item.email + '</p>')
    //     })
    //   })
    // }
    var info = [];

    function extractInfo() {
        // function camerasInfo(name,x,y,id){
        //     this.name = name;
        //     this.x = x;
        //     this.y = y;
        //     this.id = id;
        // }

        $.getJSON('{% static "main/js/info.json" %}', function (data) {
            // info = data;
            // info = $.extend(true, [], data["camera"]);
            $.each(data["camera"], function (i, item) {
                $('#disp').append('<h3>' + item.name + '</h3>');
                $('#disp').append('x:' + item.x);
                $('#disp').append(' y:' + item.y);
                $('#disp').append(' id:' + item.id + '<hr>');
                // var camera = new camerasInfo(item.name,item.x,item.y,item.id);
                // var camera = {name:item.name,x:item.x,y:item.y,id:item.id};
                // info.push(camera);
            })
        });
        return info;
    }

    $(function () {
        $('#btn').click(function () {
            // 注意,这里面的路径是URL,UAG是在localhost下做的测试.
            $.getJSON('{% static "main/js/userinfo.json" %}', function (data) {
                var $jsontip = $('#jsonTip')
                var strHtml = null // 存储数据的变量
                $jsontip.empty() // 清空内容
                $.each(data, function (infoIndex, info) {
                    strHtml += '姓名：' + info['name'] + '<br>'
                    strHtml += '性别：' + info['sex'] + '<br>'
                    strHtml += '邮箱：' + info['email'] + '<br>'
                    strHtml += '<hr>'
                })
                $jsontip.html(strHtml) // 显示处理后的数据
            })
        })
    });

    function extractCameraInfo() {
        var camera_info = [];
        $.ajaxSettings.async = false;
        $.getJSON('{% static "main/js/info.json" %}', function (result) {
            $.each(result["camera"], function (index, info) {
                camera_info.push(info);
            })
        });
        return camera_info;
    }

    var ratio = 100;

    function isRealNum(val) {
        // isNaN()函数 把空串 空格 以及NUll 按照0来处理 所以先去除
        if (val === "" || val == null) {
            return false;
        }
        if (!isNaN(val)) {
            return true;
        } else {
            return false;
        }
    }

    function extractDotTrace() {

        var camera_info = extractCameraInfo();
        var dotbook = [];
        var frame_points = [];
        var max = 0;

        $.getJSON('{% static "main/js/visudata_dotbook.json" %}', function (data) {
            var width = 940;
            var height = 600;
            for (var p in data) {
                // alert("data[119][2]:"+ data[ "119" ][ "2" ] );
                let points = [];
                for (var i in data[p]) {
                    // alert(p+" "+i+":"+data[p][i])
                    max = Math.max(max, data[p][i]);
                    var point = {x: camera_info[i - 1].x * ratio, y: camera_info[i - 1].y * ratio, value: data[p][i]};
                    points.push(point);
                }
                frame_points.push(points);
            }
        });
        return {max: max, data: frame_points};
    }

    function extractPathTrace() {
        dot_data = extractDotTrace();
        var camera_info = extractCameraInfo();
        var path_points = [];
        var max = dot_data.max;
        var number = 0;
        var tmp;
        var path_debug = [];

        $.getJSON('{% static "main/js/visudata_pathbook.json" %}', function (data) {
            // alert(data[1302]['(\'2\', \'5\')']);
            // alert(data[10000]['(\'4\', \'6\')']);
            for (var p in data) {
                number = p;
                let beg = 0;
                let end = 0;
                var points = [];
                let debug = [];
                for (var i in data[p]) {
                    tmp = i;
                    // max = Math.max(max,data[p][i]);
                    //"('1', '4')"
                    debug.push(data[p][i]);
                    var line_points = [];
                    beg = parseInt(i.slice(2, 3));
                    end = parseInt(i.slice(7, 8));
                    if (!isRealNum(beg) || !isRealNum(end)) {
                        break;
                    }
                    dist_x = Math.abs(camera_info[beg - 1].x - camera_info[end - 1].x);
                    max = Math.max(max, data[p][i]);
                    //('6', '')
                    dist_y = Math.abs(camera_info[beg - 1].y - camera_info[end - 1].y);
                    var dist = Math.sqrt(Math.pow(dist_x, 2) + Math.pow(dist_y, 2)) * ratio;
                    var iter = dist;
                    while (iter > 0) {
                        var point = {
                            x: (camera_info[beg - 1].x + iter / dist * dist_x) * ratio,
                            y: (camera_info[beg - 1].y + iter / dist * dist_y) * ratio,
                            value: data[p][i]
                        };
                        // line_points.push(point);
                        dot_data.data[p].push(point);
                        iter -= 10;
                    }
                    // points.push(line_points);
                    // alert(data[p][i]);
                }
                // path_debug.push(debug);
                if (!(line_points == null)) {
                    points.push(line_points);
                }
                path_points.push(points);
                points = [];
            }
        });
        var bind_points = [];
        let i = 0;
        // while (i < path_points.length) {
        //     bind_points[i] = dot_data.data[i].concat(path_points[i]);
        //     i++;
        // }
        return {max: max, data: dot_data.data}
        //max:5   data_len:55300
    }

    window.onload = function () {

        function generateRandomData(len) {
            var points = [];
            var max = 0;
            var width = 940;
            var height = 600;
            while (len--) {
                var val = Math.floor(Math.random() * 100);
                max = Math.max(max, val);
                var point = {x: Math.floor(Math.random() * width), y: Math.floor(Math.random() * height), value: val};
                points.push(point);
            }
            return {max: max, data: points};
        }

        function $(selector) {
            return document.querySelectorAll(selector);
        }

        function AnimationPlayer(options) {
            this.heatmap = options.heatmap;
            this.data = options.data;
            this.interval = null;
            this.animationSpeed = options.animationSpeed || 300;
            this.wrapperEl = options.wrapperEl;
            this.isPlaying = false;
            this.init();
        };
        var max_len = 30;
        AnimationPlayer.prototype = {
            init: function () {
                var dataLen = this.data.length;
                this.wrapperEl.innerHTML = '';
                var playButton = this.playButton = document.createElement('button');
                playButton.onclick = function () {
                    if (this.isPlaying) {
                        this.stop();
                    } else {
                        this.play();
                    }
                    this.isPlaying = !this.isPlaying;
                }.bind(this);
                playButton.innerText = 'play';
                this.wrapperEl.appendChild(playButton);

                var events = document.createElement('div');
                events.className = 'heatmap-timeline';
                events.innerHTML = '<div class="line"></div>';
                for (var i = 0; i < max_len; i++) {
                    var xOffset = 100 / (max_len - 1) * i;
                    var ev = document.createElement('div');
                    ev.className = 'time-point';
                    ev.style.left = xOffset + '%';
                    ev.onclick = (function (i) {
                        return function () {
                            this.isPlaying = false;
                            this.stop();
                            this.setFrame(Math.floor(i * dataLen / max_len));
                        }.bind(this);
                    }.bind(this))(i);
                    events.appendChild(ev);
                }
                this.wrapperEl.appendChild(events);
                this.setFrame(0);
            }, play: function () {
                var dataLen = this.data.length;
                this.playButton.innerText = 'pause';
                this.interval = setInterval(function () {
                    this.setFrame(++this.currentFrame % dataLen);
                }.bind(this), this.animationSpeed);
            }, stop: function () {
                clearInterval(this.interval);
                this.playButton.innerText = 'play';
            }, setFrame: function (frame) {
                this.currentFrame = frame;
                // if (frame%10===0){
                //     alert("currentFrame:"+frame);
                // }
                x = document.getElementById("frame");
                x.innerHTML = frame;
                var snapshot = this.data[frame];
                this.heatmap.setData(snapshot);
                var timePoints = $('.heatmap-timeline .time-point');
                for (var i = 0; i < timePoints.length; i++) {
                    timePoints[i].classList.remove('active');
                }
                timePoints[frame % timePoints.length].classList.add('active');
            }, setAnimationData: function (data) {
                this.isPlaying = false;
                this.stop();
                this.data = data;
                this.init();
            }, setAnimationSpeed: function (speed) {
                this.isPlaying = false;
                this.stop();
                this.animationSpeed = speed;
            }
        };
        var heatmapInstance = h337.create(
            {
                container: document.querySelector('.heatmap'),
                // radius:20,
                backgroundColor: 'rgba(0.1,0.1,0.1,.95)',
                gradient: {
                    // enter n keys between 0 and 1 here
                    // for gradient color customization
                    '.5': 'blue',
                    '.8': 'red',
                    '.95': 'white'
                },
                maxOpacity: .9,
                // minimum opacity. any value > 0 will produce
                // no transparent gradient transition
                minOpacity: .3
            }
        );
        var animationData = [];
        // for (var i = 0; i < 20; i++) {
        //     animationData.push(generateRandomData(300));
        // }
        pathbook_info = extractPathTrace();

        for (var i = 0; i < dot_data.data.length; i++) {
            animationData.push({max: pathbook_info.max, data: pathbook_info.data[i]})
        }
        var player = new AnimationPlayer({
            heatmap: heatmapInstance,
            wrapperEl: document.querySelector('.timeline-wrapper'),
            data: animationData,
            animationSpeed: 500
        });
        var controlButtons = $('.trigger-refresh');
        for (var i = 0; i < controlButtons.length; i++) {
            controlButtons[i].onclick = function () {
                var fps = this.dataset.fps;
                player.setAnimationSpeed(1 / (+fps) * 1000);
            };
        }
        var getPiwik = (function () {
            var piwik;
            return function () {
                if (piwik) {
                    return piwik;
                } else {
                    if (!window.Piwik) {
                        piwik = {
                            getAsyncTracker: function () {
                                return {
                                    trackEvent: function () {
                                        return;
                                    }
                                }
                            }
                        };
                    } else {
                        piwik = window.Piwik;
                    }
                    return piwik;
                }
            };
        })();
    };

</script>

</body>
</html>